doctype html 
html
  head
    title Gautam Dance Academy
    block scripts
    block style 
  body
    nav#navbar
      ul 
        #logo 
          img(src="./static/img/logo.png")
          .name  GDA 
        li #[a(href="/home") Home]
        li #[a(href="/home") About]
        li #[a(href="/home") Services] 
        li #[a(href="/home") Class Info]
        li #[a(href="/contact") Contact Us]

    block content
    footer#footer  
            div  Gautam Dance Academy 
            div  copyright © 2020 GautamDanceAcademy.com